<footer>
  <div class="container">
      <div class="row">
          <div class="col-md-12">
              <div class="primary-button">
                  <a href="#home">Persional Link  Sergio Moncada</a>
              </div>
              <ul>
                  <li><a href="https://www.facebook.com/Python-FutureMind-104388011418842/insights/?section=navLikes"><i class="fa fa-facebook"></i></a></li>
                  <li><a href="https://twitter.com/"><i class="fa fa-twitter"></i></a></li>
                  <li><a href="https://www.linkedin.com/in/"><i class="fa fa-linkedin"></i></a></li>
                  <li><a href="https://accounts.google.com/b/0/AddMailService"><i class="fa fa-google"></i></a></li>
                  <li><a href="https://stackoverflow.com/users/email/settings/14046981"><i class="fa fa-stack-overflow"></i></a></li>
                  <li><a href="https://github.com/"><i class="fa fa-github"></i></a></li>


              </ul>
              <p>Web Project &copy; 2030 Company Sergio Forniture

              - Create: <a rel="nofollow noopener" href="https://templatemo.com"><em>Sergio M.D.A</em></a></p>
          </div>
      </div>
  </div>
</footer>
