<app-navbar></app-navbar>
<div class="m-1">

</div>
<div class="parallax-content baner-content" id="home">
  <div class="container">
      <div class="first-content">
          <h1> Contact US</h1>
          <span><em>SERGIO (PVT)</em></span>
          <div class="primary-button">
              <a href="#services">ABOUT US</a>
          </div>
      </div>
  </div>
</div>


<div class="parallax-content contact-content" id="contact-us">
  <div class="container">
      <div class="row">
          <div class="col-md-6">
              <div class="contact-form">
                  <div class="row">
                      <form id="contact" action="" method="post">
                          <div class="row">
                              <div class="col-md-12">
                                <fieldset>
                                  <input name="name" type="text" class="form-control" id="name" placeholder="Your name..." required="">
                                </fieldset>
                              </div>



                              <div class="col-md-12">
                                <fieldset>
                                  <input name="email" type="email" class="form-control" id="email" placeholder="Your email..." required="">
                                </fieldset>
                              </div>
                              <div class="col-md-12">
                                <fieldset>
                                  <textarea name="message" rows="6" class="form-control" id="message" placeholder="Your message..." required=""></textarea>
                                </fieldset>
                              </div>
                              <div class="col-md-12">
                                <fieldset>
                                  <button type="submit" id="form-submit" class="btn">Send Message</button>
                                </fieldset>
                              </div>
                          </div>
                      </form>
                  </div>
              </div>
          </div>
          <div class="col-md-6">
              <div class="map" style="overflow: hidden; width: 40em; height: 28.65em;">
              <!-- How to change your own map point
                     1. Go to Google Maps
                     2. Click on your location point
                     3. Click "Share" and choose "Embed map" tab
                     4. Copy only URL and paste it within the src="" field below
              -->
                  <iframe src="https://www.google.com/maps/embed?pb=!1m10!1m8!1m3!1d3925.5443965896648!2d-68.0451925!3d10.2982452!3m2!1i1024!2i768!4f13.1!5e0!3m2!1ses!2sve!4v1685202696192!5m2!1ses!2sve" width="600" height="400" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

                </div>
          </div>
      </div>
  </div>
</div>
<footer>
  <div class="container">
      <div class="row">
          <div class="col-md-12">
              <div class="primary-button">
                  <a href="#home">Persional Link Sergio Moncada</a>
              </div>
              <ul>
                  <li><a href="https://www.facebook.com/Python-FutureMind-104388011418842/insights/?section=navLikes"><i class="fa fa-facebook"></i></a></li>
                  <li><a href="https://twitter.com/"><i class="fa fa-twitter"></i></a></li>
                  <li><a href="https://www.linkedin.com/in/"><i class="fa fa-linkedin"></i></a></li>
                  <li><a href="https://accounts.google.com/b/0/AddMailService"><i class="fa fa-google"></i></a></li>
                  <li><a href="https://stackoverflow.com/users/email/settings/14046981"><i class="fa fa-stack-overflow"></i></a></li>
                  <li><a href="https://github.com/"><i class="fa fa-github"></i></a></li>


              </ul>
              <p>Web Project &copy; 2023 Sergio Forniture

              - Create: <a rel="nofollow noopener" href="https://templatemo.com"><em>Sergio M.D.A</em></a></p>
          </div>
      </div>
  </div>
</footer>
