<head>

  <link href="/src/assets/css/templatemo_style.css" rel="stylesheet" type="text/css">
  <style>


   </style>
</head>


<app-navadmindashboard></app-navadmindashboard>

<body class="color-fondo">

<div class="container mt-3 mt-2 pt-5 pb-5">

 <div class="d-flex flex-*-column p-3 bg-secondary text-white justify-content-*-between ">

  <!---- Block flex item # 1 -left side of the view -->

  <div class="d-*-flex p-5  dimensiones  ">

    <div class="col-sm container-fluid pr-5 mr-5">
      <form [formGroup]="editFurnitureForm"  novalidate>


				<div class="row">

            <div class="first-content text-center position-header">
                <h3 style="color: aliceblue; font-weight: bold;"> FURNITURE VIEW DETAILS PAGE</h3>
            </div>
				</div>
        <br>
        <br>


				<div class="row">
					<div class="templatemo-one-signin col-md-6">

<!---------------  Name, begining block ---------------------------------------------->
<div class="form-group">

	<div class="col-ms-6">

    <label for="name" class="control-label label-width" style="color: aliceblue; font-weight: bold;">Name:</label>
       <input type="text" class="form-control" id="name" formControlName="name"  style="color: rgb(1, 7, 12); font-size: 1em;" disabled="">

   </div>

 </div>

<!-------------- Name, end block ---------------------------------------------------------->
<!---------------  price, begining block ---------------------------------------------->
<div class="form-group">

	<div class="col-ms-12">

    <label for="price" class="control-label label-width" style="color: aliceblue; font-weight: bold;">Price:</label>
       <input type="text" class="form-control" id="price"formControlName="price" disabled="" style="color: rgb(1, 7, 12); font-size: 1em;">

   </div>

 </div>

<!-------------- price, end block ---------------------------------------------------------->
<!---------------  discount, begining block ---------------------------------------------->
<div class="form-group">

	<div class="col-ms-12">

    <label for="discount" class="control-label label-width" style="color: aliceblue; font-weight: bold;">Discount:</label>
       <input type="text" class="form-control" id="price" formControlName="discount"   disabled="" style="color: rgb(1, 7, 12); font-size: 1em;">

   </div>

 </div>

<!-------------- discount, end block ---------------------------------------------------------->
<!---------------  color, begining block ---------------------------------------------->
<div class="form-group">

	<div class="col-ms-12">

    <label for="color" class="control-label label-width" style="color: aliceblue; font-weight: bold;">Color:</label>
       <input type="text" class="form-control" id="color" formControlName="color"   disabled="" style="color: rgb(1, 7, 12); font-size: 1em;">

   </div>

 </div>

<!-------------- color, end block ---------------------------------------------------------->
<!---------------  avalibleCount, begining block ---------------------------------------------->
<div class="form-group">

	<div class="col-ms-12">

    <label for="discount" class="control-label label-width" style="color: aliceblue; font-weight: bold;">Avalible Count:</label>
       <input type="text" class="form-control" id="avalibleCount" formControlName="avalibleCount"   disabled="" style="color: rgb(1, 7, 12); font-size: 1em;">

   </div>

 </div>

<!-------------- avalibleCount, end block ---------------------------------------------------------->

<!---------------  description, begining block ---------------------------------------------->
<div class="form-group">

	<div class="col-ms-12">

    <label for="description" class="control-label label-width" style="color: aliceblue; font-weight: bold;">Description:</label>
       <input type="text" class="form-control" id="price" formControlName="description"  disabled="" style="color: rgb(1, 7, 12); font-size: 1em;">

   </div>

 </div>

<!-------------- description, end block ---------------------------------------------------------->
  </div>

  </div>
  </form>

  <br>
  <br>

<!-- BLOCK FURNITURE------>
<div class="form-group">
  <div class="col-md-6">
    <input type="submit" value="Back" class="btn btn-warning"
        (click)="back()">
    </div>
  </div>
 <!--END BLOCK FURNITURE -->



    </div>


  </div> <!---- End Block flex item # 1 -left side of the view -->

   <!----flex item 2 - 2do block -->
   <div class="p-5 dimensiones text-center">
    <h4 class="d-sm-inline-block text-center">{{otherparam['name']}}</h4>
    <br>
    <br>
   <!--<div class="d-*-flex flex-*-column border border-dark dimensionesCuadro2">-->
    <div class="d-flex flex-column dimensionesCuadro2">
    <img class="img-fluid img-thumbnail" [src]="url+param" style="min-width:30vw; height:100%;">
   </div>



   </div> <!----end flex item 2 - 2do block -->

 </div>
</div>

</body>
